<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />

<div class="social-chat-container no-flash">
    <a href="http://m.me/61574155042272" class="facebook-box" target="_blank">
        <i class="fa-brands fa-facebook-messenger fa-2x"></i>
    </a>
    <a href="https://www.instagram.com/9th.tattoostudio/" class="instagram-box" target="_blank">
        <i class="fa-brands fa-instagram fa-2x"></i>
    </a>
    <a href="mailto:9thtattoostudio@gmail.com" class="mail-box" target="_blank">
        <i class="fa-solid fa-envelope fa-2x"></i>
    </a>
    <div class="big-message-btn">
        <i class="fa-regular fa-message fa-2x"></i>
    </div>
</div>
