<section id="quote-section" class="unselectable">
    <div class="vertical-align">
        <div id="quote">
            "Show me a man with a tattoo, and I'll show you a man with an
            interesting past."
        </div>
        <div id="quote-author">Jack London</div>
    </div>
</section>
<div id="footer-logo" class="logo-font center unselectable">
    9th.studio
</div>
<div id="footer-social" class="center">
    <a href="https://www.facebook.com/profile.php?id=61574155042272" target="_blank">
        <img src="/assets/media/facebook.svg" class="footer-social-icon"/>
    </a>
    <a href="https://www.instagram.com/9th.tattoostudio" target="_blank">
        <img src="/assets/media/instagram.svg" class="footer-social-icon"/>
    </a>
</div>
