<div id="nav-logo" class="logo-font unselectable">
    <h1 onclick="window.open('/')">9th.studio</h1>
</div>
<div class="nav unselectable">
    <button type="button" id="change-lang-btn" onclick="changeLanguage()">
        VN
    </button>
    <input type="checkbox" id="nav-check" />
    <div class="nav-header"></div>
    <div class="nav-btn no-flash">
        <label for="nav-check">
        <span></span>
        <span></span>
        <span></span>
        </label>
    </div>
    <div id="navlinks-container" class="nav-links">
        <a href="#about" id="aboutText" class="no-flash">About</a>
        <a href="#artists-section" id="artistText" class="no-flash">Artists</a>
        <a href="#shop-info-section" id="navContactText" class="no-flash">Contact</a>
    </div>
</div>
